---
layout: page
title: "Category"
description: "안녕하세요. 만나서 반갑습니다."
header-img: "img/home_top_banner.jpg"
---

{% for category in site.categories %}
<div class="post-preview">
    <a href="/{{ category | first | downcase }}">
        <h2 class="category_post_title"> {{ category | first }}</h2>
	    {% for posts in category %}
      		{% for post in posts %}
        		<h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
      		{% endfor %}
    	{% endfor %}
    </a>
</div>
<hr>
{% endfor %}

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}
