---
layout: page
title: MadPlay's MadLife.
subtitle: 개발자의 이야기를 담고 있습니다.
---

<div class="posts-list">
    {% for post in paginator.posts %}
    <article class="post-preview">
        <a href="{{ post.url | prepend: site.baseurl }}">
            <h2 class="post-title">{{ post.title }}</h2>
            {% if post.subtitle %}
            <h3 class="post-subtitle">{{ post.subtitle }}</h3>
            {% endif %}
        </a>
        <p class="post-meta">Posted on {{ post.date | date: "%B %-d, %Y" }}</p>
        {% if post.tags.size > 0 %}
        <div class="blog-tags">#{{ post.tags | join: "  #" }}</div>
        {% endif %}
    </article>
    {% endfor %}
</div>

<hr/>
<ul class="pager">
{% if paginator %}
    {% if paginator.previous_page or paginator.next_page %}
        {% capture paginator %}
            {% assign end_size = 1 %}
            {% assign mid_size = 1 %}
            {% assign current =  paginator.page %}
            {% capture current_page %}
                <li><span class="selected" disabled>{{ current }}</span></li>
            {% endcapture %}

            {% assign total = paginator.total_pages %}

            {% assign left_end = end_size %}
            {% assign right_end = total | minus: end_size | plus: 1 %}
            {% assign left_mid = current | minus: mid_size %}
            {% assign right_mid = current | plus: mid_size %}

            {% if left_end >= current %}
                {% assign left_end = current | minus: 1 %}
            {% endif %}

            {% assign current_plus_one = current | plus: 1 %}
            {% if right_end <= current_plus_one %}
                {% assign right_end = current_plus_one %}
            {% endif %}

            {% if left_mid <= end_size %}
                {% assign left_mid = left_mid | plus: end_size %}
            {% endif %}

            {% assign total_minus_end_size = total | minus: end_size %}
            {% if right_mid > total_minus_end_size %}
                {% assign right_mid = right_mid | minus: end_size %}
            {% endif %}

            {% assign space_html = '<span class="space">&hellip;</span>' %}

            {% for i in (1..left_end) %}
                {% assign href = site.paginate_path | relative_url | replace: '//', '/' | replace: ':num', i %}
                {% if i == 1 %}
                    {% assign href = "/" | relative_url %}
                {% endif %}
                <li class="pager_number"><a href="{{ site.baseurl }}/">{{ i }}</a></li>
            {% endfor %}

            {% assign current_minus_end_size_minus_mid_size = current | minus: end_size | minus: mid_size %}
            {% if current_minus_end_size_minus_mid_size > 1 %}
                {{ space_html }}
            {% endif %}

            {% assign current_minus_one = current | minus: 1 %}
            {% if left_mid > left_end %}
                {% for i in (left_mid..current_minus_one) %}
                    <li class="pager_number"><a href="{{ site.baseurl }}{{ site.paginate_path | replace: ':num', i }}">{{ i }}</a></li>
                {% endfor %}
            {% endif %}
            {{ current_page }}

            {% if right_mid < right_end %}
                {% for i in (current_plus_one..right_mid) %}
                    <li class="pager_number"><a href="{{ site.baseurl }}{{ site.paginate_path | replace: ':num', i }}">{{ i }}</a></li>
                {% endfor %}
            {% endif %}

            {% assign total_minus_end_size_minus_mid_size = total_minus_end_size | minus: mid_size %}
            {% if total_minus_end_size_minus_mid_size > current %}
                {{ space_html }}
            {% endif %}

            {% for i in (right_end..total) %}
                <li class="page_number"><a href="{{ site.baseurl }}{{ site.paginate_path | replace: ':num', i }}">{{ i }}</a></li>
            {% endfor %}
        {% endcapture %}
        {% assign paginator = paginator | normalize_whitespace %}
            {{ paginator }}
    {% endif %}
{% endif %}
</ul>