---
layout: page
---
{% for post in paginator.posts %}
<div class="post_preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h2 class="post_title">{{ post.title }}</h2>
        {% if post.subtitle %}
        <h3 class="post_subtitle">
            {{ post.subtitle }}
        </h3>
        {% endif %}
    </a>
    <p class="post_meta">Posted by {{ post.author }} on {{ post.date | date: "%B %-d, %Y" }}</p>
	<div class="post_tag">
		{% for tag in post.tags %}<a href="{{ site.baseurl }}/search#{{ tag | cgi_encode }}" title="Other posts from the {{ tag }} tag">{{ tag }}</a>{% unless forloop.last %}&nbsp;{% endunless %}{% endfor %}
	</div>
</div>
<hr>
{% endfor %}

<ul class="pager">
{% if paginator %}
    {% if paginator.total_pages <= 5 %}
        {% assign first = 1 %}
        {% assign last = paginator.total_pages %}
    {% else %}
        {% assign first = paginator.page | minus: 2 %}
        {% if first < 1 %}
            {% assign first = 1 %}
        {% endif %}
        {% assign last = first | plus: 4 %}
        {% if last > paginator.total_pages %}
            {% assign last = paginator.total_pages %}
        {% endif %}
    {% endif %}

    {% if paginator.previous_page %}
    <li><a href="{{ site.baseurl }}{{ paginator.previous_page_path }}"><span class="prev_page">&larr;</span></a>
    </li>
    {% else %}
    <li><span class="disabled">No Previous Page</span></li>
    {% endif %}

    {% for curPage in (first..last) %}
        {% if curPage == paginator.page %}
        <li class="selected"><span>{{ curPage }}</span></li>
        {% elsif curPage == 1 %}
        <li class="pager_number"><a href="{{ site.baseurl }}/">{{ curPage }}</a></li>
        {% else %}
        <li class="pager_number"><a href="{{ site.baseurl }}{{ site.paginate_path | replace: ':num', curPage }}">{{ curPage }}</a></li>
        {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
    <li><a href="{{ site.baseurl }}{{ paginator.next_page_path }}"><span class="next_page">&rarr;</span></a></li>
    {% else %}
    <li><span class="sr-only">No Next Page</span></li>
    {% endif %}
{% endif %}
</ul>