---
layout: page
title: Search
description: 키워드 또는 태그로 포스트를 검색해보세요.
---
<form action="get" id="site_search">
<div class="search_container">
  <strong class="search_guide">키워드 검색 :</strong>
  <input type="text" id="search_box" class="search_box">
  <input class="search_btn" type="submit" value="검색">
</div>
</form>
<br>
<ul id="search_results"></ul>
<hr style="background-color: #000; height: 2px; margin-bottom: 10px">


<ul class="search_tag_box"><div class="post_tag" style="">
{% assign tags_list = site.tags %}  
  {% if tags_list.first[0] == null %}
    {% for tag in tags_list %} 
      <a href="#{{ tag }}">{{ tag }} <span>{{ site.tags[tag].size }}</span></a>
    {% endfor %}
  {% else %}
    {% for tag in tags_list %} 
      <a href="#{{ tag[0] }}">{{ tag[0] }} <span>{{ tag[1].size }}</span></a>
    {% endfor %}
  {% endif %}
{% assign tags_list = nil %}
</div></ul>

<!--
{% for tag in site.tags %} 
  <h2 class="search_post_title" id="{{ tag[0] }}">{{ tag[0] | capitalize }}</h2>
  <ul class="search_post_list">
    {% assign pages_list = tag[1] %}  
    {% for post in pages_list %}
      {% if post.title != null %}
      {% if group == null or group == post.group %}
      <li><a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}">{{ post.title }} - <span class="create_date"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%B %d, %Y" }}</time></a></li>
      {% endif %}
      {% endif %}
    {% endfor %}
    {% assign pages_list = nil %}
    {% assign group = nil %}
  </ul>
{% endfor %}
-->