.category_container {
    margin-left: 10px;
}

.category_section {
    padding-top: 60px;
    margin-top: -25px;
    display: flex;
}

.category_title {
    font-size: 1.5rem;
    font-weight: 600;
    font-style: italic;
}

.category_item {
    font-size: 17px;
    margin: 0 0 20px 15px;
}

.category_item_date {
    font-size: 14px;
}

.category_button {
    font-size: 16px;
    font-weight: 600;
    color: white !important;
}

.category_button_text {
    display: inline;
    vertical-align: text-bottom;
    font-style: italic;
}

.category_tag_mark {
    font-size: 18px;
}

@media only screen and (min-width: 768px) {
    .category_item {
        font-size: 20px;
    }

    .category_button {
        font-size: 18px;
        font-weight: 600;
        color: white !important;
    }

    .category_tag_mark {
        font-size: 20px;
    }

    .category_item_date {
        font-size: 16px;
    }
}