img::selection{color:white;background:transparent;}
img::-moz-selection{color:white;background:transparent;}
.intro_header .site_heading{padding:100px 0 30px;color:#FFFFFF;text-align:center;}
a.site_heading_link:link,
a.site_heading_link:visited,
a.site_heading_link:hover,
a.site_heading_link:active{text-decoration:none;color:#FFFFFF;}
body{font-family:'Helvetica Neue';font-size:15px;color:#404040;line-height:1.3;}
p{line-height:1.8;margin-top:20px;}
p a{text-decoration:underline;}
p.red{color:#FF0000;}
h1,h2,h3,h4,h5,h6{font-family:'Helvetica Neue';}
h2{font-size: 20px;}
h3{font-size: 16px;}
@media only screen and (min-width:768px){h2{font-size: 24px;}}
a{color:#404040;}
a:hover,
a:focus{color:#404040;}
a img:hover,
a img:focus{}
blockquote{color:#808080;padding:1px 15px;}
hr.small{max-width:100px;margin:15px auto;border: 4px #FFFFFF;}

/* Navigation */
.navbar_custom{background:#F7F7F7;box-shadow:0 2px 2px -2px;position:fixed;top:0;left:0;width:100%;z-index:3;font-family:'Nanum Pen Script','Helvetica Neue';color:#777;}
.navbar_custom .navbar_brand{font-family:'Catamaran','Itim','Helvetica Neue';font-size:22px;}
.navbar_custom .nav li a{text-transform:uppercase;font-size:14px;font-family:'Catamaran','Helvetica Neue';}
@media only screen and (min-width:768px){
.navbar_custom{background:#F7F7F7;box-shadow:0 2px 2px -2px;position:fixed;border-bottom:1px solid transparent;}
.navbar_custom .navbar_brand{color:#707070;padding:20px;font-family:'Catamaran','Helvetica Neue';font-size:30px;margin-left:5px}
.navbar_custom .navbar_brand:hover,
.navbar_custom .navbar_brand:focus{color:#404040;}
.navbar_custom .nav li a{color:#707070; padding:20px;font-family:'Catamaran','Helvetica Neue';font-size:18px;}
.navbar_custom .nav li a:hover,
.navbar_custom .nav li a:focus{color:#404040;}
.navbar_right{float: right !important;margin: 0 5px 0 0;visibility:visible !important}
}


/* Header */
.intro_header{
background: url('/img/common/home_top_banner.jpg') no-repeat scroll center center;
-webkit-background-size:cover;-moz-background-size:cover;background-size:cover;-o-background-size:cover;margin-bottom:15px;
}
@media only screen and (min-width:768px){
.intro_header .site_heading{padding:120px 0;}
}
.intro_header .site_heading,
.intro_header .site_heading h1{margin-top:0;font-size:36px;}
@media only screen and (min-width:768px){
.intro_header .site_heading h1{margin-top:0;font-size:60px;}
}

.intro_header .site_heading .subheading{font-size:24px;line-height:1.1;display:block;font-family:'Helvetica Neue';margin:10px 0 0;}

/* Post Preview */
.post_preview > a{color:#404040;}
.post_preview > a:hover,
.post_preview > a:focus{text-decoration:none;color:#0085a1;}
.post_preview > a > .post_title{font-family:'Helvetica Neue';font-size:20px;margin-top:20px;margin-bottom:20px;}
@media only screen and (min-width:768px){
.post_preview > a > .post_title{font-family:'Helvetica Neue';font-size:28px;margin-top:20px;margin-bottom:20px;}
}
.post_preview > .post_subtitle{font-size:16px;margin: 12px 0 0;}
@media only screen and (min-width:768px){
.post_preview > .post_subtitle{font-size:16px;margin: 20px 0 5px;}
}
.post_preview > .post_meta{color:#808080;font-size:14px;font-style:italic;margin-top:0;margin-bottom:5px;}
.post_preview > .post_meta > a{text-decoration:none;color:#404040;}
.post_preview > .post_meta > a:hover,
.post_preview > .post_meta > a:focus{color:#0085a1;text-decoration:underline;}

div.post_tag{font-size:13px;float:none;color:black;padding-top:0.25rem;padding-bottom:0.625rem;}
.post_tag a{display:inline-block;padding:0.3125rem 0.9375rem;margin-right:0.1875rem;color:black;border:0.0625rem solid black;border-radius:0.125rem;margin-bottom:0.3125rem;}
.post_tag a:hover{color:#e51843;border:0.0625rem solid #e51843;text-decoration:none;}
@media only screen and (min-width:768px){
div.post_tag{font-size:15px;float:none;color:black;padding-top:0.625rem;padding-bottom:0.625rem;}
.post_tag a{display:inline-block;padding:0.3125rem 0.9375rem;margin-right:0.1875rem;color:black;border:0.0625rem solid black;border-radius:0.125rem;margin-bottom:0.3125rem;}
}


table{width:100%; border: 2px solid #000; margin-top:auto;margin-bottom:auto;}
tr{display: table-row; text-align: center;}
th{border: 1px solid #999999; padding: 10px 10px;}
td{border: 1px solid #999999; padding: 5px 10px; line-height:1.6;}

hr{margin-top: 10px;margin-bottom: 15px;border: 0;border-top: 1px solid #ccc;
}
hr.style-one{border:0;height:1px; background: #333 linear-gradient(to right, #ccc, #333, #ccc);}
.site_heading .top_introduce{font-family:'Catamaran';padding-bottom:15px;}
.top_subheading{font-family:'Nanum Pen Script','Helvetica Neue';font-size:24px;line-height:0.8;display:block;margin:10px 0 0;}
@media only screen and (min-width:768px){
.top_subheading{font-family:'Nanum Pen Script','Helvetica Neue';font-size:36px;line-height:1.1;display:block;margin:10px 0 0;}
}
ol > li{line-height: 1.8;}
ul{margin-bottom: 10px; padding-left:20px;}
ul li{line-height:2;margin-left:10px}
ol{padding-left:15px;}

/* Category */
.category_preview > .category_title{font-family:'Helvetica Neue';font-size:35px;margin-top:30px;margin-bottom:10px;}
.category_preview > .category_post_title{font-size:16px;}
.category_post_time{font-family:'Helvetica Neue';font-size:12px;}
a.category_link:hover,
a.category_link:active {text-decoration:none;}
@media only screen and (min-width:768px){
.category_preview > .category_title{font-family:'Helvetica Neue';font-size:50px;margin-top:30px;margin-bottom:10px;}
.category_preview > .category_post_title{font-size:20px;}
.category_post_time{font-family:'Helvetica Neue';font-size:14px;}

}

/* Paging */
.pager{margin:10px 0 0;}
.pager li {font-family:'Helvetica Neue';font-size:11px;padding:13px 4px;background-color:white;margin-left:0px;}
.pager li > span{background-color:#808080;cursor:not-allowed;color:white;}
.pager li > span.disabled {width:1px;height:1px;margin:-1px;clip:rect(0, 0, 0, 0);position:absolute;overflow:hidden;}
.pager li > a, .pager li > span {padding:5px 12px;}
@media only screen and (min-width:768px){
.pager li {font-size:14px;padding:10px 12px;margin-left:5px;}
.pager li > span{background-color:#808080;cursor:not-allowed;color:white;}
.pager li > a, .pager li > span {padding:5px 14px;}
}

/* Footer */
footer{padding:20px 0 25px;}
.social_list{text-align:center;padding-right:20px;}
.social_site{display:inline-block;padding-right:7px;padding-left:7px;list-style:none;margin:0;}
.social_icon{width:31px;height:31px;}
.copyright{font-family:'Catamaran';font-size:14px;text-align:center;margin-bottom:0;}
@media only screen and (min-width:768px) {
footer{padding:35px 0 35px;}
.social_container{text-align:center;}
.social_site{display:inline-block;padding-right:15px;padding-left:15px;list-style: none;margin:0;}
.social_icon{width:50px;height:50px;}
.copyright{font-family:'Catamaran';font-size:20px;text-align:center;margin-bottom:0;}
}

/* Comment */
.comment_box{padding-right:50px;padding-left:50px;}

/* Adsense */
.adsense_box {width:100%;height:90px;}
@media only screen and (min-width:768px) {
    .adsense_box {width:100%;height:120px;}
}