/* Category */
a.category_link {
    color: #404040;
}

/* Pager */
.pager li a {
    font-family: 'Noto Sans KR', 'Nanum Gothic', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 800;
    letter-spacing: 1px;
    padding: 10px 15px;
    background-color: #FFF;
    border-radius: 0;
    color: #404040;
    border: 0px;
}

@media only screen and (min-width: 768px) {
    .pager li a {
        padding: 15px 25px;
        font-size: 20px;
        font-weight: 800;
    }
}

.pager li span {
    font-family: 'Noto Sans KR', 'Nanum Gothic', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 800;
    letter-spacing: 1px;
    padding: 10px 15px;
    background-color: #FFF;
    border-radius: 0;
    color: #404040;
    border: 0px;
    text-decoration: underline;
}

@media only screen and (min-width: 768px) {
    .pager li span {
        padding: 15px 25px;
        font-size: 20px;
        font-weight: 800;
    }
}

.pager li a:hover,
.pager li a:focus {
    color: #404040;
    text-decoration: underline;
    background: transparent;
}

.pager {
    margin-top: -10px;
    margin-bottom: -10px;
}

/* Footer */
footer {
    padding: 20px 0 25px;
}

.social_list {
    text-align: center;
    padding-left: 0px;
    padding-right: 0px;
}

.social_site {
    display: inline-block;
    padding-right: 7px;
    padding-left: 7px;
    list-style: none;
    margin: 0;
}

.social_icon {
    width: 35px;
    height: 35px;
}

.copyright {
    font-family: 'Catamaran';
    font-size: 14px;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 0px;
}

@media only screen and (min-width: 768px) {
    footer {
        padding: 35px 0 35px;
    }

    .social_container {
        text-align: center;
    }

    .social_site {
        display: inline-block;
        padding-right: 15px;
        padding-left: 15px;
        list-style: none;
        margin: 0;
    }

    .social_icon {
        width: 55px;
        height: 55px;
    }

    .copyright {
        font-family: 'Catamaran';
        font-size: 20px;
        text-align: center;
        margin-bottom: 0;
    }
}

/* Comment */
.comment_box {
    padding: 0 25px;
}

/* Code Highlighting */
code[class*="language-"], pre[class*="language-"] {
    font-size: 12px;
    margin-bottom: 4.5rem;
}

@media only screen and (min-width: 768px) {
    code[class*="language-"], pre[class*="language-"] {
        font-size: 13px;
        margin-bottom: 4.5rem;
    }
}

/* Code Highlight */
pre.highlight {
    margin-bottom: 4.5em;
}

/* Adsense */
.adsense_box {
    width: 100%;
    height: 90px;
}

@media only screen and (min-width: 768px) {
    .adsense_box {
        width: 100%;
        height: 120px;
    }
}

/* Error Page */
.error-code {
    font-size: 6rem;
}

.error-description {
    color: #979797;
    font-size: 1.7rem;
    font-weight: 500;
}

@media only screen and (min-width: 768px) {
    .error-description {
        color: #979797;
        font-size: 2rem;
        font-weight: 500;
    }
}

.error-detail {
    font-size: 1.4rem;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #979797;
    font-weight: 400;
}

.error-details {
    margin-bottom: 10px;
}

@media only screen and (min-width: 768px) {
    .error-detail {
        font-size: 1.8rem;
        margin-top: 30px;
    }

    .error-details {
        margin-bottom: 5rem;
    }
}

.error-message a {
    text-decoration: underline;
    font-weight: 600;
    font-size: 1.6rem;
}

/* Timeline */
.timeline_box {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.timeline_box::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: black;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

.timeline_container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

.timeline_container::after {
    content: '';
    position: absolute;
    width: 21px;
    height: 21px;
    right: -11px;
    background-color: white;
    border: 4px solid #FF9F55;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

.left {
    left: 0;
}

.right {
    left: 50%;
}

.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}

.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}

.right::after {
    left: -10px;
}

.timeline_content {
    padding-left: 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
}

.timeline_date {
    font-size: 20px;
    font-family: 'Noto Sans KR', 'Nanum Gothic', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 800;
    line-height: 1;
    margin-top: 10px;
    margin-bottom: 10px;
}

.timeline_title {
    line-height: 1.5;
    margin: 10px 0 10px 0;
}

.timeline_introduce {
    font-size: 18px;
    line-height: 1.1;
    display: block;
    font-weight: 600;
    font-family: 'Noto Sans KR', 'Nanum Gothic', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-align: center;
    margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
    .timeline_box::after {
        left: 31px;
    }

    .timeline_container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    .timeline_container::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }

    .left::after, .right::after {
        left: 21px;
    }

    .right {
        left: 0%;
    }

    .timeline_date {
        font-size: 18px;
        font-family: 'Noto Sans KR', 'Nanum Gothic', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-weight: 800;
        line-height: 1;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .timeline_title {
        line-height: 1.5;
        margin: 10px 0 10px 0;
    }
}

/* Other posts in bottom of page */
.other_posts {
    padding: 0 25px;
    margin: 0 auto;
    clear: both;
    display: block;
}

.other_posts table {
    table-layout: fixed;
    border-collapse: collapse;
    width: 100% !important;
    margin-top: 10px !important;
    display: table;
    border-spacing: 2px;
    border-color: grey;
}

.other_posts_header {
    border-bottom: 1px solid #E5E5E5 !important;
}

.other_posts_header > h4 {
    line-height: 170%;
    color: #737373 !important;
    font-size: 13px;
    margin: 0;
    padding: 2px 0 6px !important;
    display: inline-block;
}

.other_posts_header .link_button {
    float: right;
    color: #808080;
    font-size: 13px !important;
    border-collapse: collapse;
    padding: 4px 4px 0 0;
}

.other_posts_title {
    text-align: left;
    font-size: 12px;
    font-weight: normal;
    word-break: break-all;
    line-height: 2;
    padding: 4px 8px 4px !important;
    display: table-cell;
    vertical-align: inherit;
    border-collapse: collapse;
    text-overflow:ellipsis;
    white-space:nowrap;
    word-wrap:normal;
    overflow:hidden;
}

@media only screen and (min-width: 768px) {
    .other_posts_title {
        font-size: 14px;
    }
}

.other_posts_title a {
    color: #808080;
}

.other_posts_date {
    text-align: right;
    font-size: 11px;
    width: 30%;
    padding: 4px 6px 4px !important;
    color: #808080 !important;
    display: table-cell;
    vertical-align: inherit;
    border-collapse: collapse;
}

@media only screen and (min-width: 768px) {
    .other_posts_date {
        font-size: 13px;
    }
}