/* Adsense */
.adsense_box {
    width: 100%;
    height: 90px;
}

@media only screen and (min-width: 768px) {
    .adsense_box {
        width: 100%;
        height: 120px;
    }
}

/* navigation bar */
.navbar {
    padding-left: 5%;
    padding-right: 0;
    font-weight: 600;
}

.navbar_search {
    display: none;
}

@media only screen and (min-width: 768px) {
    .navbar {
        padding-left: 15%;
        padding-right: 15%;
    }

    .navbar_search {
        display: block;
    }

    .navbar_search_description {
        text-align: center;
        font-size: 1.5rem;
        margin-top: 10px;
        color: #979797
    }

    .navbar_search_form {
        font-size: 1.3rem;
    }
}

.page_wrap {
    margin: 20px 0 20px 20px;
}

.page_header {
    margin-top: 50px;
    text-align: center;

}

.page_header hr {
    border-top: 1px solid #eee;
    max-width: 180px;
    text-align: center;
    margin: 15px auto;
}

.page_header_title {
    font-size: 2.5rem;
}

@media only screen and (min-width: 768px) {
    .page_header {
        text-align: center;
    }

    .page_header_title {
        font-size: 3rem;
    }

    .page_header hr {
        max-width: 200px;
    }
}

.jumbotron {
    background-color: var(--main-background-color) !important;
    text-align: center;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    padding: 5rem 2rem;
}

.jumbotron-heading, .lead {
    color: #fff;
}

.lead {
    min-height: 70px;
    padding: 0 50px;
}

@media only screen and (min-width: 768px) {
    .lead {
        padding: 0;
    }
}

.recent_article_container {
    margin: 20px 0;
    padding: 0 10px;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.recent_article_box {
    padding-left: 5px;
    padding-top: 1px;
    margin: 5px;
}

.recent_article_title {
    font-size: 20px;
    text-decoration: none;
}

.recent_article_description {
    font-size: 16px;
    color: #ccc;
}


.recent_article_date {
    font-size: 15px;
    color: #ccc;
}

@media only screen and (min-width: 768px) {
    .recent_article_introduce {
        font-size: 2.5rem;
    }

    .recent_article_title {
        font-size: 26px;
    }

    .recent_article_description {
        font-size: 18px;
        color: #ccc;
    }
}


/* Pager */
.pager {
    padding-left: 0;
    margin: 20px 0;
    text-align: center;
    list-style: none;
}

.pager li {
    display: inline;
}

.pager li a {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 800;
    letter-spacing: 1px;
    padding: 10px 15px;
    border-radius: 0;
    color: #404040;
    border: 0px;
}

.pager li span {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 800;
    letter-spacing: 1px;
    padding: 10px 15px;
    border-radius: 0;
    color: #ccc;
    border: 0;
    text-decoration: underline;
}

.pager li a:hover,
.pager li a:focus {
    color: #404040;
    text-decoration: underline;
    background: transparent;
}


@media only screen and (min-width: 768px) {
    .pager li a {
        padding: 15px 25px;
        font-size: 20px;
        font-weight: 800;
    }

    .pager li span {
        padding: 15px 25px;
        font-size: 20px;
        font-weight: 800;
    }
}
