.introduce_wrap {
    font-family: 'Noto Sans KR', 'Nanum Gothic', 'Helvetica Neue', 'Dotum', '돋움', 'Helvetica', sans-serif;
    margin-top: 10px;
    padding-top: 10px;
}

.introduce_wrap a {
    text-decoration: none;
    color: #086dc3;
    background-color: transparent;
}

.introduce_wrap a:hover {
    color: #606060;
    text-decoration: underline;
}

.introduce_head {
    font-size: 20px;
    text-align: center;
    width: 100%;
    padding-bottom: 15px;
    line-height: 1.6
}

.introduce_title {
    font-size: 20px;
    margin: 20px 0 5px;
    padding: 0;
    font-weight: bold;
    line-height: 1.6;
    font-family: 'Noto Sans KR', 'Nanum Gothic', 'Helvetica Neue';
}

.introduce_summary {
    font-family: 'Noto Sans KR', 'Nanum Gothic', 'Helvetica Neue';
    font-size: 18px;
}

.introduce_image {
    text-align: center;
}

.introduce_image img {
    border-radius: 100px;
    position: relative;
    display: inline-block;
    margin: 1px 15px 0 0;
    width: 100px !important;
}

@media only screen and (min-width: 768px) {
    .introduce_image img {
        position: relative;
        display: inline-block;
        margin: 1px 15px 0 0;
        width: 200px !important;
    }
}