/* header */
.intro_header .post_heading {
    padding: 100px 0 30px;
    color: #FFFFFF;
    text-align: center;
}

.intro_header .post_heading h1 {
    font-size: 40px;
    line-height: 1.0em;
    font-family: 'Nanum Pen Script';
    padding-bottom: 15px;
}

.intro_header .post_heading .top_subheading {
    line-height: 1.0em;
}

.intro_header .post_heading .meta {
    font-family: 'Nanum Pen Script';
    font-style: italic;
    font-weight: 300;
    font-size: 18px;
}

.intro_header .post_heading .meta a {
    color: white;
}

@media only screen and (min-width: 768px) {
    .intro_header .post_heading h1 {
        font-size: 65px;
    }

    .intro_header .post_heading .top_subheading {
        line-height: 1.0em;
    }

    .intro_header .post_heading .meta {
        font-family: 'Nanum Pen Script';
        font-style: italic;
        font-weight: 300;
        font-size: 24px;
    }
}

/* contents */
div.post_tx_inner {
    line-height: 1.6;
}

.post_image {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto
}

.post_image_inline {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.post_caption {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    padding: 10px;
    font-style: italic;
    margin: 0;
    display: block;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    line-height: 1.5;
}

a.post_heading_link:link,
a.post_heading_link:visited,
a.post_heading_link:hover,
a.post_heading_link:active {
    text-decoration: none;
    color: #FFFFFF;
}

table {
    display: block;
    overflow-x: auto;
    word-break: normal;
    width: 95%;
    margin: auto;
}

th, td {
    border: 1px solid rgba(80, 80, 80, 0.25);
}

.post_container {
    word-break: break-all;
}

.post_container th {
    background-color: rgba(200, 200, 200, 0.5);
}

blockquote p {
    font-size: 14px;
}

@media only screen and (min-width: 768px) {
    blockquote p {
        font-size: 15px;
    }
}

.post_comments {
    color: #808080;
    font-style: italic;
    padding: 1px 10px;
    font-size: 12px;
}

@media only screen and (min-width: 768px) {
    .post_comments {
        color: #808080;
        font-style: italic;
        padding: 1px 10px;
        font-size: 13px;
    }
}

a {
    color: #707070;
}

.post_container h1, .post_container h2 {
    border-bottom: 1px solid #eaecef;
    margin-top: 25px;
    margin-bottom: 5px;
}

@media only screen and (min-width: 768px) {
    .post_container h1, .post_container h2 {
        border-bottom: 1px solid #eaecef;
        margin-top: 30px;
        margin-bottom: 10px;
    }
}

ol {
    padding-left: 25px;
}

code {
    font-size: 80%
}