.search_container {text-align:center;}
.search_post_title {font-family:'Nanum Brush Script','Nanum Gothic', serif;font-size:24px;font-weight:600;margin-bottom: 5px;margin-top: 15px;}
.search_post_list {padding-bottom: 10px;}
.search_tag_box {margin-bottom:10px;padding-left:20px;}
.search_guide {font-family:'Nanum Brush Script','Nanum Gothic', serif;font-size:22px;font-weight:600;}
.search_box {font-family:'Nanum Brush Script','Nanum Gothic', serif;font-size:22px;border:2px solid;height:auto;width:100px;}
.search_btn {font-family:'Nanum Brush Script','Nanum Gothic', serif;font-size:22px;border:2px solid;font-weight: bold;height:auto;background-color:transparent;}
@media only screen and (min-width:768px){
.search_post_title {font-family:'Nanum Brush Script','Nanum Gothic', serif;font-size:30px;font-weight:600;margin-bottom: 5px;}
.search_post_list {padding-bottom: 15px;}
.search_guide {font-family:'Nanum Brush Script','Nanum Gothic', serif;font-size:28px;font-weight:600;}
.search_box {font-family:'Nanum Brush Script','Nanum Gothic', serif;font-size:28px;border:2px solid;height:auto;width:200px;}
.search_btn {font-family:'Nanum Brush Script','Nanum Gothic', serif;font-size:28px;border:2px solid;font-weight: bold;height:auto;}
}

