.timeline_box {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.timeline_box::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: black;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

.timeline_container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

.timeline_container::after {
    content: '';
    position: absolute;
    width: 21px;
    height: 21px;
    right: -11px;
    border: 4px solid #FF9F55;
    top: 22px;
    border-radius: 50%;
    z-index: 1;
}

.left {
    left: 0;
}

.right {
    left: 50%;
}

.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border-width: 10px 0 10px 10px;
}

.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border-width: 10px 10px 10px 0;
}

.right::after {
    left: -10px;
}

.timeline_content {
    padding-left: 25px;
    position: relative;
    border-radius: 6px;
}

.timeline_date {
    line-height: 1.2;
    margin: 10px 0 10px 0;
    font-style: italic;
}

.timeline_title {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.3;
    margin-top: 10px;
    margin-bottom: 10px;
}

.timeline_introduce {
    font-size: 18px;
    line-height: 1.1;
    display: block;
    font-weight: 600;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
    .timeline_box::after {
        left: 31px;
    }

    .timeline_container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    .timeline_container::before {
        left: 60px;
    }

    .left::after, .right::after {
        left: 21px;
    }

    .right {
        left: 0;
    }

    .timeline_date {
        line-height: 1.2;
        margin: 10px 0 10px 0;
        font-style: italic;
    }

    .timeline_title {
        font-size: 18px;
        font-weight: 600;
        line-height: 1.3;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}