---
layout: page
title: "Python"
description: "Python에 대해서 공부해요."
type: category
permalink: "/python"
---

<div class="posts-list">
    {% for post in site.categories.Python %}
    <article class="post-preview">
        <a href="{{ post.url | prepend: site.baseurl }}">
            <h2 class="post-title">{{ post.title }}</h2>
            {% if post.description %}
            <h3 class="post-subtitle">{{ post.description }}</h3>
            {% endif %}
        </a>
        <p class="post-meta">Posted on {{ post.date | date: "%B %-d, %Y" }}</p>
        {% if post.tags.size > 0 %}
        <div class="blog-tags">#{{ post.tags | join: "  #" }}</div>
        {% endif %}
    </article>
    {% endfor %}
</div>