<!-- Google AdSense -->
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle"
     style="display:block; text-align:center;"
     data-ad-layout="in-article"
     data-ad-format="fluid"
     data-ad-client="ca-pub-8036596086585080"
     data-ad-slot="7241821159"></ins>
<script text="text/javascript">
    (function() {
        $('.adsbygoogle').each(function(){
            (adsbygoogle = window.adsbygoogle || []).push({});
        });
    })();
</script>