<script>

    $(document).ready(function () {
        $("#typewriteText").typewrite({
            actions: [
                {type: "Curiosity and Experience never get old."}
            ]
        });
    });
</script>

<div class="jumbotron">
    <img class="author-profile-img" width="150" height="150" src="/img/common/profile.jpg"/>
    <p class="jumbotron-heading">Hi, I'm MadPlay !</p>
    <p class="lead" id="typewriteText"></p>
    <span>
        {%- include githubStarButton.html -%}
        </span>
</div>