<!-- Code Highlighting -->
<script type="text/javascript" src="/js/lib/prism.js"></script>

<!-- Markdown Math Expression -->
<script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML">
</script>

<!-- Script for Search -->
<script type="text/javascript" src="/js/search/lunr.min.js"></script>
<script type="text/javascript" src="/js/search/search.js"></script>

<!-- Comment Count -->
<script id="dsq-count-scr" src="//madplay.disqus.com/count.js" async></script>