<!-- Footer -->
<footer>
    <div class="container">
        <ul class="social_list">
            {% if site.github_username %}
            <li class="social_site">
                <a href="https://github.com/{{ site.github_username }}" target="_blank">
                    <img class="social_icon" src="{{ site.baseurl }}/img/icons/icon_github.png" alt="github">
                </a>
            </li>
            {% endif %}
            {% if site.facebook_username %}
            <li class="social_site">
                <a href="https://www.facebook.com/{{ site.facebook_username }}" target="_blank">
                    <img class="social_icon" src="{{ site.baseurl }}/img/icons/icon_facebook.png" alt="facebook">
                </a>
            </li>
            {% endif %}
            {% if site.instagram_username %}
            <li class="social_site">
                <a href="https://www.instagram.com/{{ site.instagram_username }}" target="_blank">
                    <img class="social_icon" src="{{ site.baseurl }}/img/icons/icon_instagram.png" alt="instagram">
                </a>
            </li>
            {% endif %}
            <li class="social_site">
                <a href="https://github.com/madplay/madplay.github.io/issues" target="_blank">
                    <img class="social_icon" src="{{ site.baseurl }}/img/icons/icon_question.png" alt="question">
                </a>
            </li>
            <li class="social_site">
                <a href="/feed" target="_blank">
                    <img class="social_icon" src="{{ site.baseurl }}/img/icons/icon_rss.png" alt="rss">
                </a>
            </li>
        </ul>
        <p class="copyright">Copyright © MadPlay's MadLife.</p>
    </div>
</footer>