<head>
    <meta charset="utf-8">
    <meta http-equiv="Cache-Control" content="No-Cache"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.description }}">
    <meta name="google-site-verification" content="aS92SqPc_nT-M9rztxaMZAkq-SPUxSISK_niJZWoNUI" />

    <!-- Open Graph 정보 -->
	{% include ogmeta.html %}
	
	<!-- <link rel='shortcut icon' type='image/png' href='{{ site.baseurl }}/favicon.png' /> -->
    <title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="/css/bootstrap.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/custom/common.css">
    <link rel="stylesheet" href="/css/custom/post.css">
    <link rel="stylesheet" href="/css/custom/introduce.css">

    <!-- Library Fonts -->
    <link type="text/css" rel="stylesheet" href="/css/lib/GoogleFont_1.css">
    <link type="text/css" rel="stylesheet" href="/css/lib/GoogleFont_2.css">

    <!-- Code Highlighting -->
    <link type="text/css" rel="stylesheet" href="/css/lib/prism.css">
</head>
