<section id="recent-articles">
    {% for post in paginator.posts %}
    <div class="article-card">
        <a href="{{post.url}}" class="article-card-link">
            <div id="article-container" class="recent_article_container">
                <div class="recent_article_box">
                    <p class="recent_article_title">{{post.title}}</p>
                    <p class="recent_article_description">{{post.description}}</p>
                </div>
                <div class="recent_article_box">
                    <span class="recent_article_date">
                        <i>
                            Posted on <time datetime="{{ post.date }}" itemprop="datePublished">{{ post.date | date: "%b %-d, %Y" }}</time>
                        </i>
                    </span>
                </div>
                <div class="recent_article_box">
                    {% for tag in post.tags %}
                    <button class="btn btn-sm btn-dark">#{{tag}}</button>
                    {% endfor %}
                </div>
            </div>
        </a>
    </div>
    {% endfor %}
</section>