<!-- jQuery -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js" ></script>

<!-- Bootstrap Core JavaScript -->
<script type="text/javascript" async src="/js/lib/bootstrap.min.js"></script>

<!-- Theme JavaScript -->
<script type="text/javascript" src="/js/lib/beautiful.js"></script>

<!-- Google AdSense -->
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

<!-- Code Highlighting -->
<script type="text/javascript" async src="/js/lib/prism.js"></script>

<!-- Markdown Math Expression -->
<script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML">
</script>

<!-- Custom JavaScript -->
<script type="text/javascript" src="/js/custom.js"></script>