<!-- SEO Optimalize -->
<link rel="canonical" href="{{ page.url | prepend: site.baseurl | prepend: site.url }}">

<!-- Bootstrap Core CSS -->
<link rel="stylesheet" href="/css/bootstrap.css">

<!-- Custom CSS -->
<link rel="stylesheet" href="/css/custom/common.css">
<link rel="stylesheet" href="/css/custom/post.css">
<link rel="stylesheet" href="/css/custom/introduce.css">
<link rel="stylesheet" href="/css/custom/search.css">

<!-- Library Fonts -->
<link type="text/css" rel="stylesheet" href="/css/lib/GoogleFont_1.css">
<link type="text/css" rel="stylesheet" href="/css/lib/GoogleFont_2.css">
<link type="text/css" rel="stylesheet" href="/css/lib/nanumbrushscript.css">
<link type="text/css" rel="stylesheet" href="/css/lib/nanumgothic.css">
<link type="text/css" rel="stylesheet" href="/css/lib/nanumpenscript.css">

<!-- Code Highlighting -->
<link type="text/css" rel="stylesheet" href="/css/lib/prism.css">