---
layout: default
---

{% include header.html type="post" %}

<article>
    <div id="content" class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

                <!--<hr>-->

                <!--{% include topAdSense.html %}-->

				{{ content | markdownify }}

                <hr>

                {% include bottomAdSense.html %}

            </div>
        </div>
    </div>
</article>

<hr>
{% include comments.html %}
<hr>

